atlassian-jira:
  acme_account: example.com
  version: 8.20.2
  dir: /opt/atlassian/jira
  user: jira
  group: jira
  ajp_port: 8009
  http_port: 8080
  http_scheme: https
  http_proxyName: jira.example.com
  http_proxyPort: 443
  catalina_opts: -Xms1536m -Xmx6144m
  db:
    type: postgres72
    schema: public
    url: jdbc:postgresql://localhost:5432/jira
    username: jira-db-user
    password: jira-db-password
